APP_STORE_CONNECT_ISSUER_ID=
APP_STORE_CONNECT_KEY_ID=
APP_STORE_CONNECT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
APP_STORE_BUNDLE_ID=com.currenttech.SugarShift

# Local StoreKit configuration testing only. Do not set this in production.
# ALLOW_UNVERIFIED_STOREKIT_DELIVERY=true
